<!--
Student Name:Corey Garner
File:Name: style.css
Date: April 20, 2026
-->

/* CSS Reset */
body, header, nav, main, footer, img,{
    
        margin: 0
        padding: 0
        border: 0
    }
   
/* Update your existing CSS reset rule for 'ul' */
    ul {
    margin: 0;
    padding: 0;
    list-style: none;
    
    }
    /* Update nav ul and nav li */
    nav ul { 
    margin: 0;
    padding: 0;

    }

    nav li {
        display: block;
        border-top: 0.5px solid #f6eee4 ;
    }
/* Image styling */
.round{
    border-radius: 6px;
}

#info ul {
    margin-left: 10%;
}

.tel-link {
    background-color: #2a1f14;
    padding: 2%;
    width: 80%;
    margin: 0 auto; /* Sets top/bottom to 0, left/right to auto */
}

.tel-link a {
    color: #f6eee4;
    text-decoration: none;
    font-weight: bold;
}

/* Style rule for body images */
nav {
    background-color: #f6eee4;
}

img {
    max-width: 100%;
    display: block;
}

/*Style rule for navigation area */
nav{
    background-color: #2a1f14;
}

nav ul {
    list-style: none;
    margin: 0;
    text-align: center;
}
/* Styles rule for main content */


main {
    padding: 2%;
    font-family: Verdana, Arial, sans-serif;
}

main p {
    font-size: 1.25em;
}

main h3 {
    padding-top: 2%;
}

main ul {
    list-style-type: square;
}

.link {
    color: #4d3319;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
}

.action {
    font-size: 1.75em;
    font-weight: bold;
    text-align: center;
}

#contact {
    text-align: center;
}

.mobile h1{
    font-family: 'Emblema One', cursive; /*Example declaration*/
}

.mobile h3 {
    font-family: 'Lora', serif;
}

main {
    font-family: 'Lora', serif;
}
/* Style rule for footer content */

footer {
    text-align: center;
    font-size: 0.85em;
    background-color: #2a1f14;
    color: #f6eee4;
    padding: 1% 0%;
}

footer a {
    color: #f3e6d8;
    text-decoration: none;
}